.button {
  background-color: #6C6E70;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.flecha{  
color: #fff;
font-size: 50px;
padding-top: 150px;
position: absolute;
}