@import '../abstracts/variables';



body
{
	font-family:$texto_principal;
}


@media screen and (min-width: 601px) {
  
.titulo{	
 font-family: $playfair;
 color: #fff;
 font-style: italic;
  font-size: 70px;  
  margin-top: 250px;
  vertical-align: middle;
}

}

@media screen and (max-width: 600px) {
 .titulo{	
 font-family: $playfair;
 color: #fff;
 font-style: italic;
  font-size: 30px;  
  margin-top: 250px;
  vertical-align: middle;
}
}




h3{	
 font-family: $texto_principal;
 font-size: 18px;
 color: #6C6E70;
}

#texto p{
 font-family: $texto_principal;
 font-size: 16px;
 line-height: 38px;
 color: #6C6E70;
 font-weight: lighter;
}
.rojo{
	color: #D76C69;	
	
}

.noe{
font-family: $playfair;
 color: #121619; 
  font-size: 30px;
  font-style: italic;
  font-weight: bolder;	
  margin-bottom: 0;
  margin-top: 15px;
  vertical-align: middle;
}

.descripcion_noemi{
font-family: $texto_principal;
 font-size: 12px;
 color: #6C6E70;
 line-height: 38px;
  margin-bottom: 0;
  margin-top: 25px;
  margin-left: 75px;
vertical-align: middle;
	
}

